<div class="nypr-player-volume-control">
  <div class="nypr-player-volume-slider-wrapper">
    <div class="js-volume-slider nypr-player-volume-slider">
      <div class="nypr-player-volume-slider-track" style={{trackWidth}}></div>
      <div class="js-volume-slider-handle nypr-player-volume-slider-handle" style={{handlePosition}}></div>
    </div>
  </div>
  <button class="nypr-player-button mod-volume" {{action "toggleMute"}}>
    {{svg-jar "volume" class="nypr-player-icon mod-volume-unmuted"}}
    {{svg-jar "mute" class="nypr-player-icon mod-volume-muted"}}
  </button>
</div>
