{{#liquid-if displayNotificationBar class='notification-wrapper'}}
  {{#nypr-player.notification dismissNotification = (action 'dismissNotification')}}
    {{yield (hash for=(component 'content-for' yieldName='notification'))}}
  {{/nypr-player.notification}}
{{/liquid-if}}

{{nypr-player.backdrop backdropImageUrl=backdropImageUrl}}

{{#holygrail-layout as |g|}}
  {{#g.left}}
    <div class="nypr-player-controls">
      {{nypr-player.rewind-button click=(action 'rewind')}}

      {{nypr-player.listen-button
        state        = playState
        currentTitle = currentTitle
        click        = (action 'playOrPause')
        ready        = isReady
      }}
      {{nypr-player.fast-forward-button click=(action 'fastForward')}}
    </div>
  {{/g.left}}

  {{#g.center}}
    <div class="nypr-player-info">
      <div class="nypr-player-infoline">
        {{yield (hash for=(component 'content-for' yieldName='title'))}}
      </div>

      {{#if isAudiostream}}
        {{yield (hash for=(component 'content-for' yieldName='secondaryInfo'))}}
      {{else}}
        {{#if media.isNyprPlayerSmallOnly}}
          {{nypr-player.time-label
            position = hifi.position
            duration = hifi.duration}}
        {{/if}}

        <div class="nypr-player-progress-container">
          {{nypr-player.progress-meter
            downloaded  = hifi.percentLoaded
            position    = hifi.position
            duration    = hifi.duration
            setPosition = (action 'setPosition')}}

          {{#if media.isNyprPlayerMediumAndUp}}
            {{nypr-player.time-label
              position = hifi.position
              duration = hifi.duration}}
          {{/if}}
        </div>
      {{/if}}
    </div>
  {{/g.center}}

  {{#g.right}}
    <div class="nypr-player-controls">
      {{#if (can-change-volume)}}
        {{nypr-player.volume-control
          volume     = hifi.volume
          setVolume  = (action 'setVolume')
          toggleMute = (action 'toggleMute')
          isMuted    = hifi.isMuted}}
      {{/if}}

      {{yield (hash for=(component 'content-for' yieldName='action' yieldArguments=(hash queueButton=(component 'nypr-player.queue-button'))))}}
    </div>
  {{/g.right}}
{{/holygrail-layout}}
